# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\lili-chat\lili-chatgpt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
